@model System.Collections.Generic.IEnumerable<sena.cee.adso.WebApplicationMVC01.Models.Customer>

@{
    ViewData["Title"] = "Index";
}



<div class="container box-shadow 5">
    <h1 class="text-center mb-3">Operaciones CRUD usando .NET 6 y ASP - Customers</h1>

    <div>
        <a asp-controller="Customer" asp-action="Create" class="btn btn-lg btn-primary">
            <i class="bi bi-file-plus-fill"></i>
            Agergar Cliente
        </a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Cliente Id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Ciudad</th>
                <th scope="col">País</th>
                <th scope="col">Teléfono</th>
                <th>    </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td width="10%">@item.CustomerId</td>
                    <td width="15%">@item.FirstName</td>
                    <td width="15%">@item.LastName</td>
                    <td width="10%">@item.City</td>
                    <td width="10%">@item.Country</td>
                    <td width="10%">@item.Phone</td>
                    <td  width="30%">
                         <div role="group" class="w-60 btn-btn-group">
                            <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-sm btn-primary">
                                 <i class="bi bi-pencil-square"></i>
                                 Editar
                             </a>&nbsp;

                            <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-sm btn-danger">
                                 <i class="bi bi-trash-fill"></i>
                                 Eliminar
                             </a>

                            <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-sm btn-info">
                                <i class="bi bi-door-open"></i>
                                Detalles
                            </a>

                        </div>
                    </td>      
                </tr>
            }
            </tbody>
        </table>
</div>

